[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Sunaba Studio
GenericName=Game Engine
Icon=gg.sunaba.studio
Comment=A IDE for the Sunaba platform
Exec=/opt/sunaba/studio/sunaba-studio
Terminal=false
Type=Application
Categories=Application;Development;